<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:fragment="header">
<header role="header">
    <div class="container">

        <!-- logo -->

        <h1> <a th:href="@{/}" title="avana LLC"><img th:src="@{https://scaffold.oss-cn-hangzhou.aliyuncs.com/test/upload/2020/04/6hnf45bbaojsrqg6j9ch2pfcpe.PNG}" style="width: 66px;" title="avana LLC" alt="avana LLC"/></a> </h1>

        <!-- logo -->

        <!-- nav -->

        <nav role="header-nav" class="navy">
            <ul>
                <li th:class="${active == 'work' ? 'nav-active':''}"><a th:href="@{/}" title="Work">作品</a></li>
                <li th:class="${active == 'about' ? 'nav-active':''}"><a  th:href="@{/about}" title="About">自述</a></li>
                <li th:class="${active == 'blog' ? 'nav-active':''}"><a th:href="@{/blog/index}" title="博客">博客</a></li>
            </ul>
        </nav>

        <!-- nav -->

    </div>
</header>
</html>