<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!-- 提供方应用信息，用于计算依赖关系 -->

    <dubbo:application id="dubboProvider" name="scaffold-dubbo-provider"/>

    <!--<dubbo:protocol name="dubbo" port="20880" accepts="1000" threadpool="fixed" threads="100" />-->
    <!-- 用dubbo协议在20880端口暴露服务 -->
    <dubbo:protocol name="dubbo" port="20881" accepts="1000" threadpool="fixed" threads="1000" host="localhost" />

    <!--zookeeper 配置中心 -->
    <!--<dubbo:registry address="zookeeper://120.27.148.35:2181" check="false"  register="true" file="./.dubbo"/>-->
    <!--&lt;!&ndash;<dubbo:registry address="zookeeper://115.29.210.112:2181" register="true" check="false"  />&ndash;&gt;-->
    <dubbo:registry address="${dubbo.registry.address}" />
    <!-- 使用multicast广播注册中心暴露服务地址 -->
    <!--<dubbo:registry address="multicast://224.5.6.7:1234" />-->

    <!--直连-->
    <!--<dubbo:registry address="N/A" />-->

    <!--消费者属性配置-->
    <dubbo:consumer check="false" timeout="2000"/>

    <!--配置熔断-->
    <!--<dubbo:provider filter="hystrix" timeout="10000" threadpool="fixed" threads="100" accepts="1000" />-->
    <import resource="spring-dubbo-provider.xml"/>
</beans>
