<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.my.scaffold.dal.mapper.PurProducerGoodsInfoMapper">
  <resultMap id="BaseResultMap" type="com.my.scaffold.dal.entity.PurProducerGoodsInfo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
    <result column="goods_no" jdbcType="VARCHAR" property="goodsNo" />
    <result column="brand_no" jdbcType="VARCHAR" property="brandNo" />
    <result column="brand_name" jdbcType="VARCHAR" property="brandName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="enabled" jdbcType="INTEGER" property="enabled" />
    <result column="unit" jdbcType="VARCHAR" property="unit" />
    <result column="lowest_price" jdbcType="DECIMAL" property="lowestPrice" />
    <result column="img_url" jdbcType="VARCHAR" property="imgUrl" />
    <result column="market_price" jdbcType="DECIMAL" property="marketPrice" />
    <result column="retail_price" jdbcType="DECIMAL" property="retailPrice" />
    <result column="weight" jdbcType="DOUBLE" property="weight" />
    <result column="length" jdbcType="DOUBLE" property="length" />
    <result column="width" jdbcType="DOUBLE" property="width" />
    <result column="height" jdbcType="DOUBLE" property="height" />
    <result column="tax_rate" jdbcType="DOUBLE" property="taxRate" />
    <result column="invoice_name" jdbcType="VARCHAR" property="invoiceName" />
    <result column="invoice_code" jdbcType="VARCHAR" property="invoiceCode" />
    <result column="provider_no" jdbcType="VARCHAR" property="providerNo" />
    <result column="provider_name" jdbcType="VARCHAR" property="providerName" />
    <result column="goods_code" jdbcType="VARCHAR" property="goodsCode" />
  </resultMap>
  <sql id="Base_Column_List">
    id, goods_name, goods_no, brand_no, brand_name, create_time, modify_time, enabled, 
    unit, lowest_price, img_url, market_price, retail_price, weight, length, width, height, 
    tax_rate, invoice_name, invoice_code, provider_no, provider_name, goods_code
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pur_producer_goods_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from pur_producer_goods_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.my.scaffold.dal.entity.PurProducerGoodsInfo">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into pur_producer_goods_info (id, goods_name, goods_no, 
      brand_no, brand_name, create_time, 
      modify_time, enabled, unit, 
      lowest_price, img_url, market_price, 
      retail_price, weight, length, 
      width, height, tax_rate, 
      invoice_name, invoice_code, provider_no, 
      provider_name, goods_code)
    values (#{id,jdbcType=BIGINT}, #{goodsName,jdbcType=VARCHAR}, #{goodsNo,jdbcType=VARCHAR}, 
      #{brandNo,jdbcType=VARCHAR}, #{brandName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{modifyTime,jdbcType=TIMESTAMP}, #{enabled,jdbcType=INTEGER}, #{unit,jdbcType=VARCHAR}, 
      #{lowestPrice,jdbcType=DECIMAL}, #{imgUrl,jdbcType=VARCHAR}, #{marketPrice,jdbcType=DECIMAL}, 
      #{retailPrice,jdbcType=DECIMAL}, #{weight,jdbcType=DOUBLE}, #{length,jdbcType=DOUBLE}, 
      #{width,jdbcType=DOUBLE}, #{height,jdbcType=DOUBLE}, #{taxRate,jdbcType=DOUBLE}, 
      #{invoiceName,jdbcType=VARCHAR}, #{invoiceCode,jdbcType=VARCHAR}, #{providerNo,jdbcType=VARCHAR}, 
      #{providerName,jdbcType=VARCHAR}, #{goodsCode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.my.scaffold.dal.entity.PurProducerGoodsInfo">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into pur_producer_goods_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      id,
      <if test="goodsName != null">
        goods_name,
      </if>
      <if test="goodsNo != null">
        goods_no,
      </if>
      <if test="brandNo != null">
        brand_no,
      </if>
      <if test="brandName != null">
        brand_name,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
      enabled,
      <if test="unit != null">
        unit,
      </if>
      <if test="lowestPrice != null">
        lowest_price,
      </if>
      <if test="imgUrl != null">
        img_url,
      </if>
      <if test="marketPrice != null">
        market_price,
      </if>
      <if test="retailPrice != null">
        retail_price,
      </if>
      <if test="weight != null">
        weight,
      </if>
      <if test="length != null">
        length,
      </if>
      <if test="width != null">
        width,
      </if>
      <if test="height != null">
        height,
      </if>
      <if test="taxRate != null">
        tax_rate,
      </if>
      <if test="invoiceName != null">
        invoice_name,
      </if>
      <if test="invoiceCode != null">
        invoice_code,
      </if>
      <if test="providerNo != null">
        provider_no,
      </if>
      <if test="providerName != null">
        provider_name,
      </if>
      <if test="goodsCode != null">
        goods_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      #{id,jdbcType=BIGINT},
      <if test="goodsName != null">
        #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsNo != null">
        #{goodsNo,jdbcType=VARCHAR},
      </if>
      <if test="brandNo != null">
        #{brandNo,jdbcType=VARCHAR},
      </if>
      <if test="brandName != null">
        #{brandName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      #{enabled,jdbcType=INTEGER},
      <if test="unit != null">
        #{unit,jdbcType=VARCHAR},
      </if>
      <if test="lowestPrice != null">
        #{lowestPrice,jdbcType=DECIMAL},
      </if>
      <if test="imgUrl != null">
        #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="marketPrice != null">
        #{marketPrice,jdbcType=DECIMAL},
      </if>
      <if test="retailPrice != null">
        #{retailPrice,jdbcType=DECIMAL},
      </if>
      <if test="weight != null">
        #{weight,jdbcType=DOUBLE},
      </if>
      <if test="length != null">
        #{length,jdbcType=DOUBLE},
      </if>
      <if test="width != null">
        #{width,jdbcType=DOUBLE},
      </if>
      <if test="height != null">
        #{height,jdbcType=DOUBLE},
      </if>
      <if test="taxRate != null">
        #{taxRate,jdbcType=DOUBLE},
      </if>
      <if test="invoiceName != null">
        #{invoiceName,jdbcType=VARCHAR},
      </if>
      <if test="invoiceCode != null">
        #{invoiceCode,jdbcType=VARCHAR},
      </if>
      <if test="providerNo != null">
        #{providerNo,jdbcType=VARCHAR},
      </if>
      <if test="providerName != null">
        #{providerName,jdbcType=VARCHAR},
      </if>
      <if test="goodsCode != null">
        #{goodsCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.my.scaffold.dal.entity.PurProducerGoodsInfo">
    update pur_producer_goods_info
    <set>
      <if test="goodsName != null">
        goods_name = #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsNo != null">
        goods_no = #{goodsNo,jdbcType=VARCHAR},
      </if>
      <if test="brandNo != null">
        brand_no = #{brandNo,jdbcType=VARCHAR},
      </if>
      <if test="brandName != null">
        brand_name = #{brandName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="enabled != null">
        enabled = #{enabled,jdbcType=INTEGER},
      </if>
      <if test="unit != null">
        unit = #{unit,jdbcType=VARCHAR},
      </if>
      <if test="lowestPrice != null">
        lowest_price = #{lowestPrice,jdbcType=DECIMAL},
      </if>
      <if test="imgUrl != null">
        img_url = #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="marketPrice != null">
        market_price = #{marketPrice,jdbcType=DECIMAL},
      </if>
      <if test="retailPrice != null">
        retail_price = #{retailPrice,jdbcType=DECIMAL},
      </if>
      <if test="weight != null">
        weight = #{weight,jdbcType=DOUBLE},
      </if>
      <if test="length != null">
        length = #{length,jdbcType=DOUBLE},
      </if>
      <if test="width != null">
        width = #{width,jdbcType=DOUBLE},
      </if>
      <if test="height != null">
        height = #{height,jdbcType=DOUBLE},
      </if>
      <if test="taxRate != null">
        tax_rate = #{taxRate,jdbcType=DOUBLE},
      </if>
      <if test="invoiceName != null">
        invoice_name = #{invoiceName,jdbcType=VARCHAR},
      </if>
      <if test="invoiceCode != null">
        invoice_code = #{invoiceCode,jdbcType=VARCHAR},
      </if>
      <if test="providerNo != null">
        provider_no = #{providerNo,jdbcType=VARCHAR},
      </if>
      <if test="providerName != null">
        provider_name = #{providerName,jdbcType=VARCHAR},
      </if>
      <if test="goodsCode != null">
        goods_code = #{goodsCode,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.my.scaffold.dal.entity.PurProducerGoodsInfo">
    update pur_producer_goods_info
    set goods_name = #{goodsName,jdbcType=VARCHAR},
      goods_no = #{goodsNo,jdbcType=VARCHAR},
      brand_no = #{brandNo,jdbcType=VARCHAR},
      brand_name = #{brandName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      enabled = #{enabled,jdbcType=INTEGER},
      unit = #{unit,jdbcType=VARCHAR},
      lowest_price = #{lowestPrice,jdbcType=DECIMAL},
      img_url = #{imgUrl,jdbcType=VARCHAR},
      market_price = #{marketPrice,jdbcType=DECIMAL},
      retail_price = #{retailPrice,jdbcType=DECIMAL},
      weight = #{weight,jdbcType=DOUBLE},
      length = #{length,jdbcType=DOUBLE},
      width = #{width,jdbcType=DOUBLE},
      height = #{height,jdbcType=DOUBLE},
      tax_rate = #{taxRate,jdbcType=DOUBLE},
      invoice_name = #{invoiceName,jdbcType=VARCHAR},
      invoice_code = #{invoiceCode,jdbcType=VARCHAR},
      provider_no = #{providerNo,jdbcType=VARCHAR},
      provider_name = #{providerName,jdbcType=VARCHAR},
      goods_code = #{goodsCode,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

</mapper>