<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.my.scaffold.dal.mapper.ZcySkuCreateRecordMapper">
  <resultMap id="BaseResultMap" type="com.my.scaffold.dal.entity.ZcySkuCreateRecord">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="sku_code" jdbcType="VARCHAR" property="skuCode" />
    <result column="sku_id" jdbcType="BIGINT" property="skuId" />
    <result column="item_code" jdbcType="VARCHAR" property="itemCode" />
    <result column="item_id" jdbcType="BIGINT" property="itemId" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modify" jdbcType="TIMESTAMP" property="gmtModify" />
    <result column="enabled" jdbcType="INTEGER" property="enabled" />
    <result column="apply_shelf" jdbcType="INTEGER" property="applyShelf" />
  </resultMap>
  <sql id="Base_Column_List">
    id, sku_code, sku_id, item_code, item_id, gmt_create, gmt_modify, enabled, apply_shelf
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from zcy_sku_create_record
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from zcy_sku_create_record
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.my.scaffold.dal.entity.ZcySkuCreateRecord">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into zcy_sku_create_record (sku_code, sku_id, item_code, 
      item_id, gmt_create, gmt_modify, 
      enabled, apply_shelf)
    values (#{skuCode,jdbcType=VARCHAR}, #{skuId,jdbcType=BIGINT}, #{itemCode,jdbcType=VARCHAR}, 
      #{itemId,jdbcType=BIGINT}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModify,jdbcType=TIMESTAMP}, 
      #{enabled,jdbcType=INTEGER}, #{applyShelf,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.my.scaffold.dal.entity.ZcySkuCreateRecord">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into zcy_sku_create_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="skuCode != null">
        sku_code,
      </if>
      <if test="skuId != null">
        sku_id,
      </if>
      <if test="itemCode != null">
        item_code,
      </if>
      <if test="itemId != null">
        item_id,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModify != null">
        gmt_modify,
      </if>
      enabled,
      <if test="applyShelf != null">
        apply_shelf,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="skuCode != null">
        #{skuCode,jdbcType=VARCHAR},
      </if>
      <if test="skuId != null">
        #{skuId,jdbcType=BIGINT},
      </if>
      <if test="itemCode != null">
        #{itemCode,jdbcType=VARCHAR},
      </if>
      <if test="itemId != null">
        #{itemId,jdbcType=BIGINT},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModify != null">
        #{gmtModify,jdbcType=TIMESTAMP},
      </if>
      #{enabled,jdbcType=INTEGER},
      <if test="applyShelf != null">
        #{applyShelf,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.my.scaffold.dal.entity.ZcySkuCreateRecord">
    update zcy_sku_create_record
    <set>
      <if test="skuCode != null">
        sku_code = #{skuCode,jdbcType=VARCHAR},
      </if>
      <if test="skuId != null">
        sku_id = #{skuId,jdbcType=BIGINT},
      </if>
      <if test="itemCode != null">
        item_code = #{itemCode,jdbcType=VARCHAR},
      </if>
      <if test="itemId != null">
        item_id = #{itemId,jdbcType=BIGINT},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModify != null">
        gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
      </if>
      <if test="enabled != null">
        enabled = #{enabled,jdbcType=INTEGER},
      </if>
      <if test="applyShelf != null">
        apply_shelf = #{applyShelf,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.my.scaffold.dal.entity.ZcySkuCreateRecord">
    update zcy_sku_create_record
    set sku_code = #{skuCode,jdbcType=VARCHAR},
      sku_id = #{skuId,jdbcType=BIGINT},
      item_code = #{itemCode,jdbcType=VARCHAR},
      item_id = #{itemId,jdbcType=BIGINT},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
      enabled = #{enabled,jdbcType=INTEGER},
      apply_shelf = #{applyShelf,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.my.scaffold.dal.entity.ZcySkuCreateRecord">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="sku_code" jdbcType="VARCHAR" property="skuCode" />
    <result column="sku_id" jdbcType="BIGINT" property="skuId" />
    <result column="item_code" jdbcType="VARCHAR" property="itemCode" />
    <result column="item_id" jdbcType="BIGINT" property="itemId" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modify" jdbcType="TIMESTAMP" property="gmtModify" />
    <result column="enabled" jdbcType="INTEGER" property="enabled" />
    <result column="apply_shelf" jdbcType="INTEGER" property="applyShelf" />
  </resultMap>
  <sql id="Base_Column_List">
    id, sku_code, sku_id, item_code, item_id, gmt_create, gmt_modify, enabled, apply_shelf
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from zcy_sku_create_record
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from zcy_sku_create_record
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.my.scaffold.dal.entity.ZcySkuCreateRecord">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into zcy_sku_create_record (sku_code, sku_id, item_code, 
      item_id, gmt_create, gmt_modify, 
      enabled, apply_shelf)
    values (#{skuCode,jdbcType=VARCHAR}, #{skuId,jdbcType=BIGINT}, #{itemCode,jdbcType=VARCHAR}, 
      #{itemId,jdbcType=BIGINT}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModify,jdbcType=TIMESTAMP}, 
      #{enabled,jdbcType=INTEGER}, #{applyShelf,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.my.scaffold.dal.entity.ZcySkuCreateRecord">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into zcy_sku_create_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="skuCode != null">
        sku_code,
      </if>
      <if test="skuId != null">
        sku_id,
      </if>
      <if test="itemCode != null">
        item_code,
      </if>
      <if test="itemId != null">
        item_id,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModify != null">
        gmt_modify,
      </if>
      enabled,
      <if test="applyShelf != null">
        apply_shelf,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="skuCode != null">
        #{skuCode,jdbcType=VARCHAR},
      </if>
      <if test="skuId != null">
        #{skuId,jdbcType=BIGINT},
      </if>
      <if test="itemCode != null">
        #{itemCode,jdbcType=VARCHAR},
      </if>
      <if test="itemId != null">
        #{itemId,jdbcType=BIGINT},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModify != null">
        #{gmtModify,jdbcType=TIMESTAMP},
      </if>
      #{enabled,jdbcType=INTEGER},
      <if test="applyShelf != null">
        #{applyShelf,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.my.scaffold.dal.entity.ZcySkuCreateRecord">
    update zcy_sku_create_record
    <set>
      <if test="skuCode != null">
        sku_code = #{skuCode,jdbcType=VARCHAR},
      </if>
      <if test="skuId != null">
        sku_id = #{skuId,jdbcType=BIGINT},
      </if>
      <if test="itemCode != null">
        item_code = #{itemCode,jdbcType=VARCHAR},
      </if>
      <if test="itemId != null">
        item_id = #{itemId,jdbcType=BIGINT},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModify != null">
        gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
      </if>
      <if test="enabled != null">
        enabled = #{enabled,jdbcType=INTEGER},
      </if>
      <if test="applyShelf != null">
        apply_shelf = #{applyShelf,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.my.scaffold.dal.entity.ZcySkuCreateRecord">
    update zcy_sku_create_record
    set sku_code = #{skuCode,jdbcType=VARCHAR},
      sku_id = #{skuId,jdbcType=BIGINT},
      item_code = #{itemCode,jdbcType=VARCHAR},
      item_id = #{itemId,jdbcType=BIGINT},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
      enabled = #{enabled,jdbcType=INTEGER},
      apply_shelf = #{applyShelf,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.my.scaffold.dal.entity.ZcySkuCreateRecord">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="sku_code" jdbcType="VARCHAR" property="skuCode" />
    <result column="sku_id" jdbcType="BIGINT" property="skuId" />
    <result column="item_code" jdbcType="VARCHAR" property="itemCode" />
    <result column="item_id" jdbcType="BIGINT" property="itemId" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modify" jdbcType="TIMESTAMP" property="gmtModify" />
    <result column="enabled" jdbcType="INTEGER" property="enabled" />
    <result column="apply_shelf" jdbcType="INTEGER" property="applyShelf" />
  </resultMap>
  <sql id="Base_Column_List">
    id, sku_code, sku_id, item_code, item_id, gmt_create, gmt_modify, enabled, apply_shelf
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from zcy_sku_create_record
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from zcy_sku_create_record
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.my.scaffold.dal.entity.ZcySkuCreateRecord">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into zcy_sku_create_record (sku_code, sku_id, item_code, 
      item_id, gmt_create, gmt_modify, 
      enabled, apply_shelf)
    values (#{skuCode,jdbcType=VARCHAR}, #{skuId,jdbcType=BIGINT}, #{itemCode,jdbcType=VARCHAR}, 
      #{itemId,jdbcType=BIGINT}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModify,jdbcType=TIMESTAMP}, 
      #{enabled,jdbcType=INTEGER}, #{applyShelf,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.my.scaffold.dal.entity.ZcySkuCreateRecord">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into zcy_sku_create_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="skuCode != null">
        sku_code,
      </if>
      <if test="skuId != null">
        sku_id,
      </if>
      <if test="itemCode != null">
        item_code,
      </if>
      <if test="itemId != null">
        item_id,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModify != null">
        gmt_modify,
      </if>
      enabled,
      <if test="applyShelf != null">
        apply_shelf,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="skuCode != null">
        #{skuCode,jdbcType=VARCHAR},
      </if>
      <if test="skuId != null">
        #{skuId,jdbcType=BIGINT},
      </if>
      <if test="itemCode != null">
        #{itemCode,jdbcType=VARCHAR},
      </if>
      <if test="itemId != null">
        #{itemId,jdbcType=BIGINT},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModify != null">
        #{gmtModify,jdbcType=TIMESTAMP},
      </if>
      #{enabled,jdbcType=INTEGER},
      <if test="applyShelf != null">
        #{applyShelf,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.my.scaffold.dal.entity.ZcySkuCreateRecord">
    update zcy_sku_create_record
    <set>
      <if test="skuCode != null">
        sku_code = #{skuCode,jdbcType=VARCHAR},
      </if>
      <if test="skuId != null">
        sku_id = #{skuId,jdbcType=BIGINT},
      </if>
      <if test="itemCode != null">
        item_code = #{itemCode,jdbcType=VARCHAR},
      </if>
      <if test="itemId != null">
        item_id = #{itemId,jdbcType=BIGINT},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModify != null">
        gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
      </if>
      <if test="enabled != null">
        enabled = #{enabled,jdbcType=INTEGER},
      </if>
      <if test="applyShelf != null">
        apply_shelf = #{applyShelf,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.my.scaffold.dal.entity.ZcySkuCreateRecord">
    update zcy_sku_create_record
    set sku_code = #{skuCode,jdbcType=VARCHAR},
      sku_id = #{skuId,jdbcType=BIGINT},
      item_code = #{itemCode,jdbcType=VARCHAR},
      item_id = #{itemId,jdbcType=BIGINT},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
      enabled = #{enabled,jdbcType=INTEGER},
      apply_shelf = #{applyShelf,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.my.scaffold.dal.entity.ZcySkuCreateRecord">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="sku_code" jdbcType="VARCHAR" property="skuCode" />
    <result column="sku_id" jdbcType="BIGINT" property="skuId" />
    <result column="item_code" jdbcType="VARCHAR" property="itemCode" />
    <result column="item_id" jdbcType="BIGINT" property="itemId" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modify" jdbcType="TIMESTAMP" property="gmtModify" />
    <result column="enabled" jdbcType="INTEGER" property="enabled" />
    <result column="apply_shelf" jdbcType="INTEGER" property="applyShelf" />
  </resultMap>
  <sql id="Base_Column_List">
    id, sku_code, sku_id, item_code, item_id, gmt_create, gmt_modify, enabled, apply_shelf
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from zcy_sku_create_record
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from zcy_sku_create_record
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.my.scaffold.dal.entity.ZcySkuCreateRecord">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into zcy_sku_create_record (sku_code, sku_id, item_code, 
      item_id, gmt_create, gmt_modify, 
      enabled, apply_shelf)
    values (#{skuCode,jdbcType=VARCHAR}, #{skuId,jdbcType=BIGINT}, #{itemCode,jdbcType=VARCHAR}, 
      #{itemId,jdbcType=BIGINT}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModify,jdbcType=TIMESTAMP}, 
      #{enabled,jdbcType=INTEGER}, #{applyShelf,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.my.scaffold.dal.entity.ZcySkuCreateRecord">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into zcy_sku_create_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="skuCode != null">
        sku_code,
      </if>
      <if test="skuId != null">
        sku_id,
      </if>
      <if test="itemCode != null">
        item_code,
      </if>
      <if test="itemId != null">
        item_id,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModify != null">
        gmt_modify,
      </if>
      enabled,
      <if test="applyShelf != null">
        apply_shelf,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="skuCode != null">
        #{skuCode,jdbcType=VARCHAR},
      </if>
      <if test="skuId != null">
        #{skuId,jdbcType=BIGINT},
      </if>
      <if test="itemCode != null">
        #{itemCode,jdbcType=VARCHAR},
      </if>
      <if test="itemId != null">
        #{itemId,jdbcType=BIGINT},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModify != null">
        #{gmtModify,jdbcType=TIMESTAMP},
      </if>
      #{enabled,jdbcType=INTEGER},
      <if test="applyShelf != null">
        #{applyShelf,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.my.scaffold.dal.entity.ZcySkuCreateRecord">
    update zcy_sku_create_record
    <set>
      <if test="skuCode != null">
        sku_code = #{skuCode,jdbcType=VARCHAR},
      </if>
      <if test="skuId != null">
        sku_id = #{skuId,jdbcType=BIGINT},
      </if>
      <if test="itemCode != null">
        item_code = #{itemCode,jdbcType=VARCHAR},
      </if>
      <if test="itemId != null">
        item_id = #{itemId,jdbcType=BIGINT},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModify != null">
        gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
      </if>
      <if test="enabled != null">
        enabled = #{enabled,jdbcType=INTEGER},
      </if>
      <if test="applyShelf != null">
        apply_shelf = #{applyShelf,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.my.scaffold.dal.entity.ZcySkuCreateRecord">
    update zcy_sku_create_record
    set sku_code = #{skuCode,jdbcType=VARCHAR},
      sku_id = #{skuId,jdbcType=BIGINT},
      item_code = #{itemCode,jdbcType=VARCHAR},
      item_id = #{itemId,jdbcType=BIGINT},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
      enabled = #{enabled,jdbcType=INTEGER},
      apply_shelf = #{applyShelf,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.my.scaffold.dal.entity.ZcySkuCreateRecord">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="sku_code" jdbcType="VARCHAR" property="skuCode" />
    <result column="sku_id" jdbcType="BIGINT" property="skuId" />
    <result column="item_code" jdbcType="VARCHAR" property="itemCode" />
    <result column="item_id" jdbcType="BIGINT" property="itemId" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modify" jdbcType="TIMESTAMP" property="gmtModify" />
    <result column="enabled" jdbcType="INTEGER" property="enabled" />
    <result column="apply_shelf" jdbcType="INTEGER" property="applyShelf" />
  </resultMap>
  <sql id="Base_Column_List">
    id, sku_code, sku_id, item_code, item_id, gmt_create, gmt_modify, enabled, apply_shelf
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from zcy_sku_create_record
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from zcy_sku_create_record
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.my.scaffold.dal.entity.ZcySkuCreateRecord">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into zcy_sku_create_record (sku_code, sku_id, item_code, 
      item_id, gmt_create, gmt_modify, 
      enabled, apply_shelf)
    values (#{skuCode,jdbcType=VARCHAR}, #{skuId,jdbcType=BIGINT}, #{itemCode,jdbcType=VARCHAR}, 
      #{itemId,jdbcType=BIGINT}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModify,jdbcType=TIMESTAMP}, 
      #{enabled,jdbcType=INTEGER}, #{applyShelf,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.my.scaffold.dal.entity.ZcySkuCreateRecord">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into zcy_sku_create_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="skuCode != null">
        sku_code,
      </if>
      <if test="skuId != null">
        sku_id,
      </if>
      <if test="itemCode != null">
        item_code,
      </if>
      <if test="itemId != null">
        item_id,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModify != null">
        gmt_modify,
      </if>
      enabled,
      <if test="applyShelf != null">
        apply_shelf,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="skuCode != null">
        #{skuCode,jdbcType=VARCHAR},
      </if>
      <if test="skuId != null">
        #{skuId,jdbcType=BIGINT},
      </if>
      <if test="itemCode != null">
        #{itemCode,jdbcType=VARCHAR},
      </if>
      <if test="itemId != null">
        #{itemId,jdbcType=BIGINT},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModify != null">
        #{gmtModify,jdbcType=TIMESTAMP},
      </if>
      #{enabled,jdbcType=INTEGER},
      <if test="applyShelf != null">
        #{applyShelf,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.my.scaffold.dal.entity.ZcySkuCreateRecord">
    update zcy_sku_create_record
    <set>
      <if test="skuCode != null">
        sku_code = #{skuCode,jdbcType=VARCHAR},
      </if>
      <if test="skuId != null">
        sku_id = #{skuId,jdbcType=BIGINT},
      </if>
      <if test="itemCode != null">
        item_code = #{itemCode,jdbcType=VARCHAR},
      </if>
      <if test="itemId != null">
        item_id = #{itemId,jdbcType=BIGINT},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModify != null">
        gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
      </if>
      <if test="enabled != null">
        enabled = #{enabled,jdbcType=INTEGER},
      </if>
      <if test="applyShelf != null">
        apply_shelf = #{applyShelf,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.my.scaffold.dal.entity.ZcySkuCreateRecord">
    update zcy_sku_create_record
    set sku_code = #{skuCode,jdbcType=VARCHAR},
      sku_id = #{skuId,jdbcType=BIGINT},
      item_code = #{itemCode,jdbcType=VARCHAR},
      item_id = #{itemId,jdbcType=BIGINT},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
      enabled = #{enabled,jdbcType=INTEGER},
      apply_shelf = #{applyShelf,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.my.scaffold.dal.entity.ZcySkuCreateRecord">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="sku_code" jdbcType="VARCHAR" property="skuCode" />
    <result column="sku_id" jdbcType="BIGINT" property="skuId" />
    <result column="item_code" jdbcType="VARCHAR" property="itemCode" />
    <result column="item_id" jdbcType="BIGINT" property="itemId" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modify" jdbcType="TIMESTAMP" property="gmtModify" />
    <result column="enabled" jdbcType="INTEGER" property="enabled" />
    <result column="apply_shelf" jdbcType="INTEGER" property="applyShelf" />
  </resultMap>
  <sql id="Base_Column_List">
    id, sku_code, sku_id, item_code, item_id, gmt_create, gmt_modify, enabled, apply_shelf
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from zcy_sku_create_record
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from zcy_sku_create_record
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.my.scaffold.dal.entity.ZcySkuCreateRecord">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into zcy_sku_create_record (sku_code, sku_id, item_code, 
      item_id, gmt_create, gmt_modify, 
      enabled, apply_shelf)
    values (#{skuCode,jdbcType=VARCHAR}, #{skuId,jdbcType=BIGINT}, #{itemCode,jdbcType=VARCHAR}, 
      #{itemId,jdbcType=BIGINT}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModify,jdbcType=TIMESTAMP}, 
      #{enabled,jdbcType=INTEGER}, #{applyShelf,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.my.scaffold.dal.entity.ZcySkuCreateRecord">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into zcy_sku_create_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="skuCode != null">
        sku_code,
      </if>
      <if test="skuId != null">
        sku_id,
      </if>
      <if test="itemCode != null">
        item_code,
      </if>
      <if test="itemId != null">
        item_id,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModify != null">
        gmt_modify,
      </if>
      enabled,
      <if test="applyShelf != null">
        apply_shelf,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="skuCode != null">
        #{skuCode,jdbcType=VARCHAR},
      </if>
      <if test="skuId != null">
        #{skuId,jdbcType=BIGINT},
      </if>
      <if test="itemCode != null">
        #{itemCode,jdbcType=VARCHAR},
      </if>
      <if test="itemId != null">
        #{itemId,jdbcType=BIGINT},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModify != null">
        #{gmtModify,jdbcType=TIMESTAMP},
      </if>
      #{enabled,jdbcType=INTEGER},
      <if test="applyShelf != null">
        #{applyShelf,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.my.scaffold.dal.entity.ZcySkuCreateRecord">
    update zcy_sku_create_record
    <set>
      <if test="skuCode != null">
        sku_code = #{skuCode,jdbcType=VARCHAR},
      </if>
      <if test="skuId != null">
        sku_id = #{skuId,jdbcType=BIGINT},
      </if>
      <if test="itemCode != null">
        item_code = #{itemCode,jdbcType=VARCHAR},
      </if>
      <if test="itemId != null">
        item_id = #{itemId,jdbcType=BIGINT},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModify != null">
        gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
      </if>
      <if test="enabled != null">
        enabled = #{enabled,jdbcType=INTEGER},
      </if>
      <if test="applyShelf != null">
        apply_shelf = #{applyShelf,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.my.scaffold.dal.entity.ZcySkuCreateRecord">
    update zcy_sku_create_record
    set sku_code = #{skuCode,jdbcType=VARCHAR},
      sku_id = #{skuId,jdbcType=BIGINT},
      item_code = #{itemCode,jdbcType=VARCHAR},
      item_id = #{itemId,jdbcType=BIGINT},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
      enabled = #{enabled,jdbcType=INTEGER},
      apply_shelf = #{applyShelf,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.my.scaffold.dal.entity.ZcySkuCreateRecord">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="sku_code" jdbcType="VARCHAR" property="skuCode" />
    <result column="sku_id" jdbcType="BIGINT" property="skuId" />
    <result column="item_code" jdbcType="VARCHAR" property="itemCode" />
    <result column="item_id" jdbcType="BIGINT" property="itemId" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modify" jdbcType="TIMESTAMP" property="gmtModify" />
    <result column="enabled" jdbcType="INTEGER" property="enabled" />
    <result column="apply_shelf" jdbcType="INTEGER" property="applyShelf" />
  </resultMap>
  <sql id="Base_Column_List">
    id, sku_code, sku_id, item_code, item_id, gmt_create, gmt_modify, enabled, apply_shelf
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from zcy_sku_create_record
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from zcy_sku_create_record
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.my.scaffold.dal.entity.ZcySkuCreateRecord">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into zcy_sku_create_record (sku_code, sku_id, item_code, 
      item_id, gmt_create, gmt_modify, 
      enabled, apply_shelf)
    values (#{skuCode,jdbcType=VARCHAR}, #{skuId,jdbcType=BIGINT}, #{itemCode,jdbcType=VARCHAR}, 
      #{itemId,jdbcType=BIGINT}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModify,jdbcType=TIMESTAMP}, 
      #{enabled,jdbcType=INTEGER}, #{applyShelf,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.my.scaffold.dal.entity.ZcySkuCreateRecord">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into zcy_sku_create_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="skuCode != null">
        sku_code,
      </if>
      <if test="skuId != null">
        sku_id,
      </if>
      <if test="itemCode != null">
        item_code,
      </if>
      <if test="itemId != null">
        item_id,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModify != null">
        gmt_modify,
      </if>
      enabled,
      <if test="applyShelf != null">
        apply_shelf,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="skuCode != null">
        #{skuCode,jdbcType=VARCHAR},
      </if>
      <if test="skuId != null">
        #{skuId,jdbcType=BIGINT},
      </if>
      <if test="itemCode != null">
        #{itemCode,jdbcType=VARCHAR},
      </if>
      <if test="itemId != null">
        #{itemId,jdbcType=BIGINT},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModify != null">
        #{gmtModify,jdbcType=TIMESTAMP},
      </if>
      #{enabled,jdbcType=INTEGER},
      <if test="applyShelf != null">
        #{applyShelf,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.my.scaffold.dal.entity.ZcySkuCreateRecord">
    update zcy_sku_create_record
    <set>
      <if test="skuCode != null">
        sku_code = #{skuCode,jdbcType=VARCHAR},
      </if>
      <if test="skuId != null">
        sku_id = #{skuId,jdbcType=BIGINT},
      </if>
      <if test="itemCode != null">
        item_code = #{itemCode,jdbcType=VARCHAR},
      </if>
      <if test="itemId != null">
        item_id = #{itemId,jdbcType=BIGINT},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModify != null">
        gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
      </if>
      <if test="enabled != null">
        enabled = #{enabled,jdbcType=INTEGER},
      </if>
      <if test="applyShelf != null">
        apply_shelf = #{applyShelf,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.my.scaffold.dal.entity.ZcySkuCreateRecord">
    update zcy_sku_create_record
    set sku_code = #{skuCode,jdbcType=VARCHAR},
      sku_id = #{skuId,jdbcType=BIGINT},
      item_code = #{itemCode,jdbcType=VARCHAR},
      item_id = #{itemId,jdbcType=BIGINT},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
      enabled = #{enabled,jdbcType=INTEGER},
      apply_shelf = #{applyShelf,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.my.scaffold.dal.entity.ZcySkuCreateRecord">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="sku_code" jdbcType="VARCHAR" property="skuCode" />
    <result column="sku_id" jdbcType="BIGINT" property="skuId" />
    <result column="item_code" jdbcType="VARCHAR" property="itemCode" />
    <result column="item_id" jdbcType="BIGINT" property="itemId" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modify" jdbcType="TIMESTAMP" property="gmtModify" />
    <result column="enabled" jdbcType="INTEGER" property="enabled" />
    <result column="apply_shelf" jdbcType="INTEGER" property="applyShelf" />
  </resultMap>
  <sql id="Base_Column_List">
    id, sku_code, sku_id, item_code, item_id, gmt_create, gmt_modify, enabled, apply_shelf
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from zcy_sku_create_record
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from zcy_sku_create_record
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.my.scaffold.dal.entity.ZcySkuCreateRecord">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into zcy_sku_create_record (sku_code, sku_id, item_code, 
      item_id, gmt_create, gmt_modify, 
      enabled, apply_shelf)
    values (#{skuCode,jdbcType=VARCHAR}, #{skuId,jdbcType=BIGINT}, #{itemCode,jdbcType=VARCHAR}, 
      #{itemId,jdbcType=BIGINT}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModify,jdbcType=TIMESTAMP}, 
      #{enabled,jdbcType=INTEGER}, #{applyShelf,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.my.scaffold.dal.entity.ZcySkuCreateRecord">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into zcy_sku_create_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="skuCode != null">
        sku_code,
      </if>
      <if test="skuId != null">
        sku_id,
      </if>
      <if test="itemCode != null">
        item_code,
      </if>
      <if test="itemId != null">
        item_id,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModify != null">
        gmt_modify,
      </if>
      enabled,
      <if test="applyShelf != null">
        apply_shelf,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="skuCode != null">
        #{skuCode,jdbcType=VARCHAR},
      </if>
      <if test="skuId != null">
        #{skuId,jdbcType=BIGINT},
      </if>
      <if test="itemCode != null">
        #{itemCode,jdbcType=VARCHAR},
      </if>
      <if test="itemId != null">
        #{itemId,jdbcType=BIGINT},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModify != null">
        #{gmtModify,jdbcType=TIMESTAMP},
      </if>
      #{enabled,jdbcType=INTEGER},
      <if test="applyShelf != null">
        #{applyShelf,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.my.scaffold.dal.entity.ZcySkuCreateRecord">
    update zcy_sku_create_record
    <set>
      <if test="skuCode != null">
        sku_code = #{skuCode,jdbcType=VARCHAR},
      </if>
      <if test="skuId != null">
        sku_id = #{skuId,jdbcType=BIGINT},
      </if>
      <if test="itemCode != null">
        item_code = #{itemCode,jdbcType=VARCHAR},
      </if>
      <if test="itemId != null">
        item_id = #{itemId,jdbcType=BIGINT},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModify != null">
        gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
      </if>
      <if test="enabled != null">
        enabled = #{enabled,jdbcType=INTEGER},
      </if>
      <if test="applyShelf != null">
        apply_shelf = #{applyShelf,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.my.scaffold.dal.entity.ZcySkuCreateRecord">
    update zcy_sku_create_record
    set sku_code = #{skuCode,jdbcType=VARCHAR},
      sku_id = #{skuId,jdbcType=BIGINT},
      item_code = #{itemCode,jdbcType=VARCHAR},
      item_id = #{itemId,jdbcType=BIGINT},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
      enabled = #{enabled,jdbcType=INTEGER},
      apply_shelf = #{applyShelf,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>